 /* html{
        scroll-snap-align: unset;
    }

*/

#menu {
display: flex;
background-color:rgb(150, 6, 126);
margin:0;
margin-top: -3.5rem;
margin-left: 45rem;
}

#menu li, a:link {
    color:white;
    text-decoration: none;
    display: block;
    padding: 15px;
    
}




.logo{
margin:auto;
    width:6rem;
    height:6rem;
}
.top{
  
    background-color:rgb(150, 6, 126);
   
    
}

.centralize{

    margin: auto;
    text-align: center;
}
body{
    margin: 0;
    font-family:  'Roboto', sans-serif;
    


}








#topmenu li:first-child {
margin-right:50%;

}
.section1{
display: flex;
height: 100vh;
background-color: rgb(153, 22, 230);

}

.imagemprojeto{

width: vh;
height: vh;
padding-left: px;
}
.section2{
display: flex;
height: 33vh;
background-color: rgb(174, 49, 247);
}
/*.section3{
display: flex;
height: 100vh;
background-color:beige;   
}
*/
footer{
background-color: black;
padding: 30px;
color: white;
}

.botao{
background-color: rgb(150, 6, 126);
color: white;
padding: 10px;
font-family:  'Roboto', sans-serif;

}
.fotoperfil{

border-radius: 60%;

}

